td.hi-match {background-color: #FF0000; color: black}

td.low-match {background-color: #FFFF00; color: black}

td.no-match {background-color: #FFFFFF; color: black}

div.hiDiv {background-color: #FF0000; color: black}

div.lowDiv {background-color: #FFFF00; color: black}
